*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
/build
/app/build
/app/release
/app/proguard.map
/app/src/main/obj
/app/src/main/assets/db
/app/src/main/libs